.news{
    width: 100%;
    padding-top: 70px;

    &__block, &__block > span{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title{
        font-family: 'Cera Round Pro';
        font-weight: 500;
        font-size: 64px;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        color: #242424;
        margin-bottom: 8px;
    }

    &__cards{
        display: flex;
        flex-wrap: wrap;
        column-gap: 35px;
        row-gap: 40px;
        margin-top: 60px;
        margin-bottom: 70px;
    }

    &__btn{
        width: 149px;
        height: 44px;
        border: 1px solid #BB2339;
        border-radius: 100px;
        font-family: 'Cera Round Pro';
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #242424;
        padding: 8px 30px;
        background: inherit;
    }
}