* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container{
  max-width: 1340px;
  width: 100%;
  padding: 0 20px;
  margin:  0 auto;
}
